* {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    -o-font-smoothing:antialiased;
    font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
 }
 header{

    background-color: #161719;


 }

 body {
    color: #C0C0C0;
    height: 100vh;
    font-family: Arial, san-serif;
    background: linear-gradient(to top right, #222222 20%, #adadad 80%);
    background-image: url(../media/Background3.jpg);
    background-size: cover;   
}
 

 
 /* Contact Form Styles */
 h1 {
    margin: 10px 0 0 0;
    font-size: 2.5rem;
 }
 h4{
    margin: 0 0 20px 0;
    font-size: 1.5rem;
 }



 #contact-form {
    background-color:#212529; opacity:0.95;
    padding: 10px 20px 30px 20px;
    max-width:100%;
    width: 90vh;
    float: left;
    left: 42%;
    position: absolute;
    margin-top:15vh;
    margin-left: -260px;
    border-radius:8px;
    -webkit-border-radius:7px;
    -moz-border-radius:7px;
 }
 #contact-form input,   
 #contact-form select,   
 #contact-form textarea,   
 #contact-form label { 
    font-size: 15px;  
    margin-bottom: 2px;
    font-family: Arial, san-serif;
 } 
 #contact-form input,   
 #contact-form select,   
 #contact-form textarea { 
    width:100%;
    background: #fff; opacity: 100%;
    border: 0; 
    -moz-border-radius: 4px;  
    -webkit-border-radius: 4px;  
    border-radius: 4px;
    margin-bottom: 25px;  
    padding: 5px;  
 }  
 #contact-form input:focus,   
 #contact-form select:focus,   
 #contact-form textarea:focus {  
    background-color: #E5E6E7; opacity: 100%; 
 }  
 #contact-form textarea {
    width:100%;
    height: 150px;
 }
 #contact-form button[type="submit"] {
    cursor:pointer;
    width:100%;
    border:none;
    background:orange;
    background-image:linear-gradient(bottom, orange 0%, orange 52%);
    background-image:-moz-linear-gradient(bottom, orange 0%, orange 52%);
    background-image:-webkit-linear-gradient(bottom, orange, orange 52%);
    color:#252422;
    margin:0 0 5px;
    padding:10px;
    border-radius:5px;
 }
 #contact-form button[type="submit"]:active {
    box-shadow:inset 0 1px 3px rgba(0,0,0,0.5);
 }
 input:required, textarea:required {  
    box-shadow: none;
    -moz-box-shadow: none;  
    -webkit-box-shadow: none;  
    -o-box-shadow: none;  
 } 
 #contact-form .required {  
    font-weight:bold;  
    color: #E5E6E7;      
 }
 
 /* Hide success/failure message
    (especially since the php is missing) */
 #failure, #success {
    color: #6EA070; 
    display:none;  
 }
 
 /* Make form look nice on smaller screens */
 @media only screen and (max-width: 580px) {
    #contact-form{
       left: 3%;
       margin-right: 3%;
       width: 88%;
       margin-left: 0;
       padding-left: 3%;
       padding-right: 3%;
    }
 }