footer{



    background-color: #000;
    color: white;
    text-align: center;
    margin-top: 5vh;
    position: relative ;
    bottom: 0;
    width: 100%;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.5s;


}

.container {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 30%; /* Ancho de cada columna */
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
}