*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 100vh;
    background-color: #000;
    background-size: cover;
    background-position: center;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a:hover{
    color: orange;
}

header{
    position: relative;
    padding: 0 2rem;
    background: none;
    z-index: 10;
}


main{
    height: 100vh;
    background-image: url(../media/background2jpg.jpg);
    background-size: cover;
    background-position: center;
    margin-top: 60px;
}

.mainIndex{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
/* ACTION BTN*/
.action_btn {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active{
    scale: 0.95;
}
/* CS BTN */
.cs_btn {
    background-color: rgb(255, 30, 0);
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.cs_btn:hover {
    scale: 1.05;
    color: #fff;
}

.cs_btn:active{
    scale: 0.95;
}
/* MAIN */
.banner{
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.banner h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

/* DROPDOWN MENU */
.dropdown_menu{
    z-index: 100;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}
/* USER CONFIG */
.user_config{
    z-index: 100;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgb(202, 202, 202);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.user_config.open{
    height: 150px;
}

.user_config li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user_config .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/*-----------------Contacto-----------------*/

.mainContacto{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

.mainContacto{
    color: #c0c0c0;
    height: 100vh;
    font-family: Arial, san-serif;
    background: linear-gradient(to top right, #222222 20%, #adadad 80%);
    background-image: url(../media/Background3.jpg);
    background-size: cover;
}
/*-------------------------------------*/

/*------------------------Nosotros------------------------*/

.nosotrosMain {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: none;
    background-color: white;
    
}

.nosotrosMain {
    color: #c0c0c0;
    height: 100vh;
    font-family: Arial, san-serif;
    background-color: white;

}

.divNosotrosMain{
    background-color: white;
    text-align: center;
    padding: 0;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.divNosotrosCentros{
    margin-top: 9.9%;
}

.NosotrosMurcia, .NosotrosCartagena {
    position: relative;
    width: 50%;
    height: 50vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    overflow: hidden;
}


.NosotrosMurcia:before,
.NosotrosCartagena:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)); 
}

.NosotrosMurcia{
    background-image: url('../media/serviciosMurcia.jpg');
}

.NosotrosCartagena{
    background-image: url('../media/serviciosCartagena.jpg');
}


.NosotrosMurcia h2, .NosotrosCartagena h2 {
    font-size: 30px;
    color: white; 
    position: relative; 
    text-align: center; 
    margin-top: 15%;
    transform: translateY(-50%);
    padding: 10px; 
}

/*------------------------------------*/


/*-------------Servicios -------------*/

.main_Servicios {
    padding: 20px;
    background-color: white;
    padding: 0 0 0 0;
    background-size: cover;
}



.divServiciosMain {
    background: linear-gradient(to right, black, #f0f0f0);
    background-color: white;
    text-align: center;
    padding: 37.5vh 20px;
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
    gap: 5vh; 
}

.Servicios_h1 {
    margin: 0;
    max-width: 600px; 
    font-size: 4rem; 
    color: #dadada; 
    font-weight: bold; 
    text-align: left;
    text-transform: uppercase; 
    letter-spacing: 2px;

}

.Servicios_p {
    max-width: 500px; 
    font-size: 1.2rem;
    font-weight: 600;
    text-align: right; 
    color: #3a3a3a; 
    line-height: 1.6;
     
}

.linea-vertical {
    height: 22vh; 
    width: 2px; 
    background-color: #333; 
    transform: rotate(25deg);

}

.serparadorServicios {
    height: 10vh; 
    width: 100%; 
    background-color: orange;
    border-bottom:solid 2px grey;
    border-top:solid 2px grey;

}

.h2_Servicios {
    font-size: 7vh;
    padding: 2vh 0vh 0 50vh;
    color: white;
    margin-bottom: 10vh;
}


.divNosotrosCentros{
    margin-bottom: 10%;
}
.ServiciosServicios {

    background-image: url("../media/wallpaper1.png") !important;
    background-size: cover;
    background-color: transparent;

   
}

.tituloNosotros {
    display: flex;
    justify-content: space-around;
    align-items: center; 
    height: 100px; 
    width: 100%;
    padding: 0; 
    margin: 0; 
    box-sizing: border-box;
}

.tituloNosotros div {
    width: 100%; 
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.containerServicios {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
    padding: 0 15%;
    box-sizing: border-box;
}

.cardServicios {
    background-color: white;
    width: 280px; 
    height: 380px; 
    perspective: 1000px;
    margin: 10px; 
    position: relative;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.cardInner {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.cardServicios:hover .cardInner {
    transform: rotateY(180deg);
}

.cardFront, .cardBack {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.cardFront {
    background-size: cover;
    background-position: center;
}

.cardBack {
    background-color: #3B3A3A;
    color: #FFDE59;
    transform: rotateY(180deg);
    padding: 20px;
    box-sizing: border-box;
}

.cardBack h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.cardBack p {
    font-size: 1em;
    margin-bottom: 10px;
}

.cardBack .precioServicios {
    font-size: 1.2em;
    font-weight: bold;
    color: #FFDE59;
}

.botonServicios {
    display: inline-block;
    margin-left: 32vh;
    margin-top: 3vh;
    margin-bottom: 10vh;
    padding: 10px 20px;
    background-color: orange; 
    color: #fff; 
    text-decoration: none; 
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 1rem; 
    border: none; 
    cursor: pointer; 
}

.botonServicios:hover {
    background-color: black; 
}
/*------------------------------------*/

/*FOOOTERR*/

footer{



    background-color: #000;
    color: white;
    text-align: center;

    position:relative;
    bottom: 0%;
    width: 100%;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.5s;


}

footer .container {
    display: flex;
    justify-content: space-between;
}

footer .column {
    width: 30%; /* Ancho de cada columna */
    padding: 20px;
    margin: 10px;
    box-sizing: border-box;
}

/**/

/* RESPONSIVE */
@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu {
        display: block;
    }

    .h2_Servicios{
        margin-right: 100%;
    }


}
@media (max-width: 400px ) {

    .dropdown_menu {
        top: 40px;
    }


    .h2_Servicios{
        margin-right: 100%;
    }

}