
body {
    background-image: url(../media/Background4.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
}




.pideCitaDiv h1{
    text-align: center;
    font-size: 5rem; 
    color:white;
    text-decoration: underline;
}

.pideCitaDiv h2{
    color: white;
    font-size: 4rem;
}
   

.pideCitaDiv h3{
    color: white;
    font-size: 1.5rem;
}


